.main{ background:#ededed; width:100%;}
.main .list-main{ width:960px; margin:0 auto;}
.list-main .list-top{ width:960px; text-align:left; height:35px; line-height:35px; background:#ededed; padding-top:10px;}
.list-main .list-top a{ color:#545454;}
.list-top span{ margin:0 5px;}
.list-product{ width:960px; margin:0 auto;}
.list-product .prosp,.list-product .prosh{ background:#fff;}
.prosp{ width:600px; height:582px; position:relative;}
.prosp .demo01{ margin:25px auto 0; width:420px; height:445px; overflow:hidden; position:relative;}
.demo01 .slides{ width:2100px; position:absolute; left:0; top:0;}
.demo01 .slides li{ float:left;}

.oslides{ width:600px; height:62px; text-align:center; display:block; overflow:hidden;}
.oslides li{ width:60px; height:60px; border:1px solid #fff; margin-left:10px; float:none; opacity:0.3; display:inline-block; overflow:hidden;}
.oslides li a{ width:62px; height:62px; display:block;}
.oslides .current{ border:1px solid #74b72c; opacity:1;}

.leftBtn,.rightBtn{ width:40px; height:40px; display:block; background:url(../images/jinglin.png) no-repeat 0 0; position:absolute; top:200px;}
.leftBtn{ background-position:0 -46px; left:25px;}
.leftBtn:hover{ background-position:0 -145px;}
.rightBtn{ background-position:0 0; right:25px;}
.rightBtn:hover{ background-position:0 -96px;}

.prosh{ width:329px; height:582px; padding:0 15px;}
.prosh .str{ margin-top:25px; padding-bottom:8px; border-bottom:1px #e6e9ed solid; text-align:left;}
.str strong{ font-size:24px; margin-bottom:8px; text-align:left; display:block;}
.str p{ font-size:14px; line-height:24px;}
.txt{ font-size:24px; font-weight:700; color:#ff8201;}
.txt span{ margin-top:10px; color:#666; font-size:12px; font-weight:400; float:left;}
.txt ul li{ float:left; margin:0 10px 10px 0; background:#f3ea11; width:32px; height:34px; border:1px solid #f3ea11; display:block; cursor:pointer;}
.txt ul li:hover{ border:1px solid #74b72c;}
.color .cur{ background:#13cbcb; border:1px solid #74b72c; position:relative;}
.color .cur a{ width:12px; height:10px; background:url(../images/sanjiao.png) no-repeat; position:absolute; right:0; bottom:0;}
.gcIpt{ float:left;margin-top:5px; margin-left:10px; margin-bottom:5px; text-align:center;}
.gcIpt input{ background:#f2f2f2; width:50px; display:inline-block; border:1px #e6e6e6 solid; color:#000; font-size:16px; height:20px; line-height:18px; text-align:center; vertical-align:5px;}
.gcIpt .decrement{ width:20px; height:20px; background:url(../images/pic3.png) no-repeat; display:inline-block;}
.gcIpt .increment{ width:20px; height:20px; background:url(../images/pic3.png) no-repeat 0 -40px; display:inline-block;}
.tr{ margin-top:25px;}
.tr a{ display:block; width:158px; height:40px; background:url(../images/shop.png) no-repeat;}

/*c dl*/
.c{ width:960px; margin:0 auto;}
.c .dl{ width:720px;}
.dl .gtab{ padding-left:25px; height:49px; line-height:49px; border-bottom:1px solid #e6e9ed; text-align:left; background:#fff; margin-top:10px;}
.gtab p{ font-size:16px; color:#333;}
.dl .gtab a{ margin-right:55px; color:#333; font-size:16px;}
.dl .gtab a.cur,.dl .gtab a:hover{ color:#7abb30}
.dl .gcon{ background:#fff; margin-bottom:10px; padding:20px; width:680px; overflow:hidden;}
.gcon p{ line-height:2em; font-size:14px; color:#666;}
.gArg{ background:#7abb30; width:680px; height:38px; line-height:38px; font-size:16px; color:#fff; text-align:left; text-indent:15px;}
.col2{ border:1px solid #ccc; border-bottom:0; width:100%;}
.col2 td{ height:40px; line-height:40px; border-bottom:1px solid #ccc; font-size:16px;}
.wd207{ width:207px; border-right:1px solid #ccc; text-align:center;}
.consult dt{ background:url(../images/wenda.png) no-repeat 0 -1px; color:#333; display:block; line-height:20px; margin-bottom:15px; padding-left:32px; text-align:left; font-size:14px;}
.consult dd{ background:url(../images/da.png) no-repeat 0 1px; color:#666; border-bottom:1px solid #f1f1f1; line-height:24px; margin-bottom:20px; padding-left:32px; padding-bottom:15px; text-align:left;}

/*c dr*/
.c .dr{ width:230px; background:#fff; margin-top:10px;}
.dr .grtab{ height:49px; line-height:49px; padding-left:10px; text-align:left; color:#333; border-bottom:1px solid #e6e9ed; font-size:16px;}
.sj p{ margin-left:20px; font-size:14px; color:#333; margin-bottom:10px;}

.topnav{ display:none; position:fixed;}




















